body {
    padding: 2rem;
    background-color: #f8f9fa;
    margin: 0;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

form {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 -2px 4px rgba(0, 0, 0, 0.05), 2px 0 4px rgba(0, 0, 0, 0.05), -2px 0 4px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    border-radius: 8px;
    margin-top: 20px;
}


.container {
    max-width: 700px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.to-persons {
    text-decoration: none;
    color: rgb(34, 136, 238);
    display: inline-block;
}

.to-persons:hover {
    text-decoration: underline;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input-group label {
    width: 130px;
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    display: block;
}


.input-group input {
    width: 600px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.input-group select {
    width: 600px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.input-group textarea {
    width: 600px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.input-group-radio {
    display: block;
    align-items: center;
    padding-right: 150px;
    padding-left: 8rem;
    margin-bottom: 0.5rem;
}

.input-group-radio label {
    padding-right: 10px;
}

.input-group-radio gender {
    padding-left: 130px;
}

.gender {
    font-weight: bold;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 0.65rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.2s ease;
}

.btn-save {
    background-color: #3498db;
    color: white;
}

.btn-save:hover {
    background-color: #2980b9;
}

.btn-clear {
    background-color: #95a5a6;
    color: white;
}

.btn-clear:hover {
    background-color: #7f8c8d;
}